extends layout 
 
block content 
  h1= title 
  
  if (toShow == null) 
    h2 No instance to update
  else 
    - let tacobellid = toShow._id 
    - let itemname = toShow.itemname 
    - let quantity = toShow.quantity
    - let price = toShow.price

  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{tacobellid} 
  - let actionid = "/tacobell/" + tacobellid 
 
  form(id='tacobellForm', action=actionid, method="PUT") 
    div.form-group 
        label.tacobellAttr(for='itemname ') tacobell type 
        input#itemname(type='text', name='itemname ', value= itemname ) 
    div.form-group 
        label.tacobellAttr(for='quantity') tacobell quantity
        input#quantity(type='text', name='quantity', value= quantity ) 
    div.form-group 
        label.tacobellAttr(for='price') tacobell price
        input#price(type='number', name='price', value= price) 
    input(type="submit") 
 
  script. 
    document.forms['tacobellForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });